<<<<<<< HEAD
body {
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-weight: 100;
	background-color: #000;
	color: #fff;
}

/* Changes */

.pipelinelist {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	right: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.pipeline {
	margin: 1em;
	padding: 1em 1em 2.5em 1em;
	list-style: none;
	border: solid 1px rgba(255,255,255,0.5);
	background-color: rgba(255,255,255,0.125);
	box-shadow: 0 0 0.5em rgba(255,255,255,0.5);
	background-position: right 1em center;
	background-repeat: no-repeat;
}
.pipeline-check {
	background-image: url('../img/job-check.svg');
}
.pipeline-gate {
	background-image: url('../img/job-gate.svg');
}
.pipeline-post {
	background-image: url('../img/job-post.svg');
}

.changelist {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 50%;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.change {
	margin: 1em;
	padding: 1em 1em 2.5em 1em;
	list-style: none;
	border: solid 1px rgba(255,102,0,0.5);
	background-color: rgba(255,51,0,0.125);
	box-shadow: 0 0 0.5em rgba(255,102,0,0.5);
}
.change-mergable {
	border-color: rgba(51,255,255,0.5);
	background-color: rgba(0,255,255,0.125);
	box-shadow: 0 0 0.5em rgba(51,255,255,0.5);
}
.change-number {
	font-size: 2em;
	float: right;
	font-family: 'Offside', sans-serif;
}
.change-subject {
	font-size: 1.5em;
}
.change-topic {
	clear: both;
	float: right;
}
.change-owner {
	color: #555;
	float: left;
}

/* Bugs */

.buglist {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.bug {
	opacity: 0.5;
}
.legs,
.antenna {
	fill: none;
	stroke: #FFFFFF;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.head {
	fill: #FFFFFF;
}
.eyes {
	fill: #000000;
}
.shell,
.splat {
	stroke: #FFFFFF;
}
.severity-blocker {
	fill: #FF0000;
	stroke-width: 2;
}
.severity-critical {
	fill: #980000;
	stroke-width: 2;
}
.severity-major {
	fill: #980000;
}
.severity-normal {
	fill: #BB7700;
}
.severity-minor {
	fill: #669900;
}
.severity-trivial {
	fill: #009966;
}
.severity-enhancement {
	fill: #106581;
}
.resolved {
	-webkit-animation: resolve 900s;
	-moz-animation: resolve 900s;
	animation: resolve 900s;
}

@-webkit-keyframes resolve {
	0% { fill-opacity: 0.5; } 10% { fill-opacity: 0.25; } 100% { fill-opacity: 0; }
}

@-moz-keyframes resolve {
	0% { fill-opacity: 0.5; } 10% { fill-opacity: 0.25; } 100% { fill-opacity: 0; }
}

@keyframes resolve {
	0% { fill-opacity: 0.5; } 10% { fill-opacity: 0.25; } 100% { fill-opacity: 0; }
}
